<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Flask App</title>
</head>
<body>
    <div class="container">
        <h1>My Wonderful Site</h1>
    </div>
	<div class="flex-container">
    <div class="item">Blog</div>
    <div class="item">Resume</div>
    <div class="item">Fun Stuff</div>
</div>

<div class="flex-container">
	<div class ="item">This is a test of this item</div>
	<div class ="item">And another item</div>
	</div>



</body>
</html>
